html, body {
    height: 100%;
}

#root {
    min-height: 100%;
    position: relative;
}

.App {
    padding-bottom: 30px;
}

content {
    width: 100%;
}

input, button, select, textarea {
    width: 278px;
    height: 45px;
}

.App-main {
    margin-top: 100px;

}

.App-main label {
    display: block;
    margin: 20px 0 5px;
    text-align: left;
    color: #ff66ff;
}

.App-main input, .App-main select , .App-main textarea {
    border: 3px solid #ffff33;
    padding: 0 8px;
}

.App-main button {
    padding: 0 8px;
    background-color: #ffff33;
    color: #ff1a75;
    font-weight: bold;
    box-sizing: content-box;
}

.App-main form, .App-main .rows {
    width: 300px;
    margin: auto;
}

.App-main {
    margin-top: 50px;
}

.App-main .subtext {
    color: #ff66ff;
    font-size: 12px;
}

.App-main .error-message {
    color: #ff0010;
    font-size: 12px;
    font-style: italic;
}

.App-main .invalid {
    border: 3px solid #ff0010;
}

.App-main .new-event {
    text-decoration: none;
    font-size: 20px;
}

.App-main .event {
    margin: 40px 0;
}

.App-main .event h2 {
    color: #ff66ff;
    margin-bottom: 0;
}

.App-main .event h3 {
    font-weight: normal;
    margin-top: 0;
}

.App-main hr {
    color: #fff;
    border-style: solid;
    margin-top: 20px;
}

footer {
    margin: 10px;
    color: #fff;
    font-size: 10px;
    text-align: right;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}
