.logo {
    width: 50px;
    height: 50px;
    color: #fff;
    vertical-align: middle;
}

.title {
    padding: 10px;
    color: #ffff33;
    vertical-align: middle;
}

.title h1 {
    margin: 0;
}

header {
    width: 100%;
    padding: 10px 0;
    border-bottom: 5px solid #ff1a75;
    background: #ff66ff;
    font-family: 'Work Sans', sans-serif;
}

.logout {
    float: right;
    color: #fff;
    text-decoration: none;
    margin: 10px;
}
